:root {
	font-size: 16px;
	position: relative;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Verdana', 'Raleway', sans-serif;
	margin: 50px;	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
}

.cart-container {
	display: flex;
}

.size-container {
	flex: 2;
}

.product-container {
	flex: 10;	
}

.sort-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.product-grid {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(auto-fill, 250px);
}

.addToCartBtn {
  background-color: #0c0b10;
  transition: background-color 0.2s ease-in-out;
}

.addToCartBtn:hover {
  background-color: #e6bd08;
}

.products-found span {
	font-size: 0.85rem;
}

.select-options{
	margin-right: 70px;
	margin-left: 1rem;
	padding: 5px;
	background-color: white;
	border: 0.5px solid rgb(219, 219, 219);
	font-size: 1.08rem;
}

.select-options:focus {
	outline: none;
}

.cart-open-container {
	transform: translateX(0%);
	transition: transform 0.3s ease-in-out;
}

.cart-close-container {
	transform: translateX(115%);
	transition: transform 0.3s ease-in-out;
}

.fixed {
	position: fixed;
	top: 0;
	right: 0;
}