.cart-container-box {
  position: fixed;
  top: 0;
	right: 0;
  width: 450px;  
	height: 100vh;
	background-color: #1B1A1F;
}

.cart-head {
  padding: 35px 0;
  width: 110px;
  margin: 0 auto;
}

.cart-foot {
  /* height: 200px; */
}

.cart-text {
  color: #ececec;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: -0.5px;
}

.header {
  overflow: auto;
  height: 80%;
}

.footer {
  margin: 20px 0;
  width: 100%;
}

.cart-subtotal{
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-content: center;
}

.cart-subtotal > * {
  color: #5b5a5e;
  font-weight: 500;
}

.checkout-btn {
  display: block;
  background-color: #0c0b10;
  width: 80%;
  text-align: center;
  padding: 15px; 
  border: none;
  margin: 15px auto;
  color: #e6e6e6;
  font-size: 1.2rem;
}

.checkout-total {
  color: #e6bd08;
  font-size: 1.3rem;
  letter-spacing: -0.5px;
}