.size-array {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 30px 0;
}

.size-btn {
  position: relative;
  margin: 5px;
  background-color: rgb(226, 226, 226);
	height: 35px;
	width: 35px;	
  border-radius: 50%;
	text-align: center;
	padding: 4px;
  font-size: 0.8rem;
  cursor: pointer;
}

.size-btn:hover {
  border: 1px solid #0c0b10;
}

.size-btn p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.XS, .S, .M , .ML, .L, .XL, .XXL {
  background-color: #0c0b10;
  color: white;
}