.size-array {
  display: grid;
  grid-template-columns: repeat(auto-fit, 40px);
  justify-content: center;
  margin: 20px 0;
}

.size-filter h2 {
  font-weight: 700;
  font-size: 1rem;
}

.size-btn {
  position: relative;
  margin-bottom: 10px;
  background-color: rgb(226, 226, 226);
	height: 35px;
	width: 35px;	
  border-radius: 50%;
	text-align: center;
	padding: 4px;
  font-size: 0.76rem;
  cursor: pointer;
  font-weight: 500;
}

.size-btn:hover {
  border: 1px solid #0c0b10;
}

.size-btn p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.XS, .S, .M , .ML, .L, .XL, .XXL {
  background-color: #0c0b10;
  color: white;
}
